* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px minmax(50px, 1fr);
    grid-template-areas: 
    "hea"
    "nav"
    "fot";
}

#grid_wrapper2{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 75px 600px minmax(50px,1fr);
    grid-template-areas: 
    "hea"
    "nav"
    "sec"
    "fot";
}

#grid_wrapper3{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "hea"
    "nav";
}

.link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    align-items: center;
    margin-top: 10px; /* Sänk ner elementet med 10 pixlar från toppen */
    /*margin-right: 5px; /* Sänk ner elementet med 5 pixlar från höger kant */
    /*margin-bottom: 15px; /* Sänk ner elementet med 15 pixlar från botten */
    /*margin-left: 20px; /* Sänk ner elementet med 20 pixlar från vänster kant */
    text-decoration: none;
}

nav{
    background: rgb(192, 57, 43);
    grid-area: nav;

}

section{
    background: rgb(192, 57, 43);
    grid-area: sec;
}

header{
    display: flex;
    background-image: url(../img/Top_img.jpg);
    background-color: rgb(157, 105, 27);
    grid-area: hea;
    overflow: hidden;
    background-attachment: fixed;
    align-items: center;
    background-size: cover;
    justify-content: center;
}

a{
    display: inline-block;
    height: 30px;
    width: auto;
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    background: rgb(169, 50, 38);
    align-items: center;
    justify-content: center;
    grid-area: fot;
}

#section_wrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px;
    grid-template-areas: 
    "no no no"
    "yes1 yes2 yes3"
    ;
    

}

.link_list_item{
    margin: 5px;
    border-radius: 20px;
    background-size: cover; /* Scale the background image to fit within the section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

#section1{
    grid-area: yes1;
    background-image: url(../img/Flower_painting.jpg);
}

#section2{
    grid-area: yes2;
    background-image: url(../img/StonesForWebsite.jpg);
}

#section3{
    grid-area: yes3;
    background-image: url(../img/StarsForWebsite.jpg);
}

#section_empty{
    grid-area: no;
    background: rgb(169, 50, 38);
}

#li_1{
    margin-right: 150px;
}

#li_2{
    margin-right: 160px;
}

.link_list_item{
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
text-decoration: underline;
}

#footer_note{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link_list_background{
    background: rgb(169, 50, 38);
}