* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 300px;
    grid-template-areas: 
    "hea"
    "nav"
    "sec";
    


}

#grid_wrapper2{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 300px;
    grid-template-areas: 
    "hea"
    "nav"
    "sec";
}

#grid_wrapper3{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 300px;
    grid-template-areas: 
    "hea"
    "nav"
    "sec";
}

#link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

nav{
    background: aqua;
    grid-area: "nav";

}

section{
    background: darkgreen;
    grid-area: "sec";
}

header{
    background-color: rgb(157, 105, 27);
    grid-area: "hea";
}
